:root.theme-light {
  --page-background-color: #ffeff6;
  --text-color: rgba(53, 52, 48, 1);
  --page-background-image: url("../images/cover-image-light.png");
  --rec-decor-visibility: hidden;

  --title-color: rgba(255, 194, 230, 1);
  --title-shadow-color: 4px 4px 0px rgba(255, 141, 203, 1);
  --text-color-background: rgba(255, 141, 203, 1);
  --article-text-color:  rgba(53, 52, 48, 1);
  --article-link-shadow: 2px 1px 0px rgba(255, 141, 203, 1);
  --button-hover-border: rgba(50, 49, 45, 0.4);
}


@media (prefers-color-scheme: light) {
  :root {
    --page-background-color: #ffeff6;
    --text-color: rgba(53, 52, 48, 1);
    --page-background-image: url("../images/cover-image-light.png");
    --rec-decor-visibility: hidden;

    --title-color: rgba(255, 194, 230, 1);
    --title-shadow-color: 4px 4px 0px rgba(255, 141, 203, 1);
    --text-color-background: rgba(255, 141, 203, 1);
    --article-text-color:  rgba(53, 52, 48, 1);
    --article-link-shadow: 2px 1px 0px rgba(255, 141, 203, 1);
    --button-hover-border: rgba(50, 49, 45, 0.4);
    
  }
}