.page {
  padding: 10px;
  font-family: var(--page-font-family), monospac;
  background-color: var(--page-background-color);
  background-image: var(--page-background-image), url("../images/cover-image-dark.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}


.header {
  inline-size: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.decorated-zone {
  position: relative;
}



.decorated-zone::after {
  content: '';
  position: absolute;
  z-index: -1;
  border-inline-start: 1px solid var(--text-color);
  border-block-end: 1px solid var(--text-color);
  inline-size: 25px;
  block-size: 25px;
  inset-inline-start: 0;
  inset-block-end: 0;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  z-index: -1;
  border-inline-end: 1px solid var(--text-color);
  border-block-start: 1px solid var(--text-color);
  inline-size: 25px;
  block-size: 25px;
  inset-inline-end: 0;
  inset-block-start: 0;

}

.rec-decor {
  position: absolute;
  visibility: var(--rec-decor-visibility);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  inset-inline-end: 10px;
}

.rec-decor::before {
  content: 'REC';
  color: #FF0070;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
}

.rec-decor::after {
  content: '';
  border-radius: 50%;
  box-shadow: 0px  0px 4px 2px #FF0070;
  background-color:#FF0070;
  inline-size: 9px;
  block-size: 9px;
}

.header__theme-menu {
  justify-self: end;
  margin-block-start: 75px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}

.header__theme-menu-item {
  border: 1px solid transparent;
  padding-inline: 11px;
}

.header__theme-menu-button {
  border: none;
  color: var(--text-color);
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
  pointer-events: painted;
  

}

.header__theme-menu-item:has(.header__theme-menu-button:hover) {
  border: 1px solid var(--button-hover-border);
}

.header__theme-menu-item:has(.header__theme-menu-button:focus) {
  border-bottom: 1px solid var(--text-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button_active {
  cursor: none;
  pointer-events: none;
}

.header__theme-menu-item:has(.header__theme-menu-button_active) {
  border: 1px solid var(--text-color);
} 


.header__title {
  justify-self: start;
  margin-block-start: 65px;
  color: var(--title-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-shadow: var(--title-shadow-color);
}

.title-decor {
  color: #000028;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--text-color-background);
}

.header__text {
  justify-self: center;
  margin-block-start: 55px;
  margin-block-end: 56px;
}


.main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  padding-block-start: 50px;
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  gap:20px;
}

.section-title {
  justify-self: start;
  color: var(--text-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;

}


.article-list {
  display: grid;
  gap: 20px;
}

.article {
  display: flex;
  flex-direction: column;
  gap:10px;
}

.article__text {
  color: var(--article-text-color);
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
}

.article__text--link {
  text-decoration: none;
  text-shadow: var(--article-link-shadow);
  cursor: pointer;
}


.article__text--link:hover {
  text-decoration: underline;
}

.article__text--link:focus {
  outline: 1px solid var(--text-color);
  text-decoration: none;
}


.section-gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap:10px;
  margin-block-end: 40px;
}

.img-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;

}

.img-list__item--img {
  display: block;
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}




.footer__title {
  padding-block: 285px;
  color: var(--title-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 116px;
  line-height: 83%;
  text-align: center;
  text-shadow: var(--title-shadow-color);
  
}



@media (width >= 768px) {
  .page {
    padding: 20px;
  }

  .main {
    gap:80px;
    padding-block-start: 60px;
  }
  
  .article:first-child {
    margin-block-start: 0px;
  }

  .article-list {
    gap:20px;
  }


  .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header__title {
  grid-column: 1/3;
  grid-row: 2;
  margin-block-start: 173px;
}

.header__theme-menu {
  grid-column: 2;
  grid-row: 1;
  margin-block-start: 192px;
}



.header__text {
  grid-column: 2;
  grid-row: 3;
  margin-block-start: 162px;
  margin-block-end: 183px;
}



.section {
  grid-template-columns: clamp(236px, 30.7692%, 315px) 1fr;
}


.section:nth-child(even) {
  grid-template-columns: 1fr;
}

.section:nth-child(even) > .section-title {
  inline-size: clamp(236px, 30.7692%, 315px);
}

.section:nth-child(3) .article__title:nth-child(2) {
  margin-block-start: 10px;
}



.section-gallery {
  gap:20px;
}


.img-list {
  grid-template-columns: repeat(3, 1fr);
  gap:20px;
}

.img-list__item:first-child {
  grid-column: 1/3;
}

.img-list__item:last-child {
  grid-column: 2/4;
}

.img-list__item:nth-child(2) {
  grid-column: 3;
  grid-row: 1/3;
}

.img-list__item:nth-child(3) {
  grid-column: 1;
  grid-row: 2/4;
}

.footer__title {
  padding-block: 462px;
}

}

@media (width >= 1024px) {
  .main{
    padding-block-start: 60px;
  }
  
  .header__title {
    font-size: 157px;
    margin-block-start: 273px;
  }

  .header__theme-menu {
    grid-column: 1/3;
    justify-self: center;
    margin-block-start: 0px;
    
  }
  
  .header__theme-menu-list {
    flex-direction: row;

  }

  .section:nth-child(2) > .article-list {
    grid-template-columns: repeat(3,1fr);
  }

  .header__text {
    margin-block-start: 114px;
    margin-block-end: 134px;
  }

  .footer__title {
  padding-block: 319px;
    font-size: 157px;
  }
}